.month-selection {
    text-align: center;
    width: 100%;
    height: 50px;
}

.ch-day-legend-text {
    position: relative;
    top: 5px;
}

.select-calendar {
    background-color: #ffffff;
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 2px;
    width: 160px;
    cursor: pointer;
    /*background-image: url("../img/10897-200.png");*/ /*todo*/
    background-size: 20px;
    background-position: calc(100% - 20px) center;
    background-repeat: no-repeat;
    margin-top: 7px;
}

.dropdown-arrow {
    position: absolute;
    font-size: 25px;
    right: 35px;
    top: -4px;
    cursor: pointer;
}

@media screen and (max-width: 1366px) {
    .month-selection {
        height: 25px;
    }

    .ch-day-legend-text {
        top: 3px;
    }

    .select-calendar {
        background-position: calc(100% - 0px) center;
        width: 110px !important;
    }
}