body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 32em 0 0;
    z-index: 100;
    opacity: .99;
    border-bottom: 1px solid #ffffff;
}

#lines {
    border-color: #ff0000;
    border-width: 3px;
    cursor: pointer;
}

#right {
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
}

#mapsvg {
    z-index: 9000;
    position: absolute;
    width: 100%;
    height: 100%;
}

.ukd-0 {
    stroke: rgb(158, 205, 229);
}

.line-base {
    fill-opacity: 0.7;
    cursor: pointer;
}

.line-base:hover {
    fill-opacity: 1;
    cursor: pointer;
    margin: 5px;
    stroke: #ff8c00;
}

.line-base.line-unselected {
    fill: rgb(158, 205, 229);
}

.profile {
    fill: #0000ff;
    stroke-width: 0;
    pointer-events: none;
}

div.tooltip {
    position: absolute;
    text-align: left;
    padding: 5px;
    font: 12px sans-serif bold;
    background: #ffffff;
    border-radius: 8px;
    border: 5px #4f6f98;
    pointer-events: none;
    z-index: 9999;
}