#heatmap-legend .axis text {
    fill: #ffffff;
}

.charts-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 10px 15px;
    color: #8d9ba3;
}

.hamburger-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 10px 15px;
    color: #8d9ba3;
}

.hamburger-menu:hover {
    color: #ff8c00;
}

.charts-menu:hover {
    color: #ff8c00;
}

.charts-menu-active {
    color: #ff8c00;
}

.hamburger-menu-active {
    color: #ff8c00;
}

.hamburger-menu i, .hamburger-menu-active i {
    font-size: 24pt;
}

.charts-menu i, .charts-menu-active i {
    font-size: 24pt;
}

.side-navbar-wrapper {
    width: 26em;
    position: absolute;
    left: 0;
    background-color: #122330;
    z-index: 100;
    font-size: 13px;
}

.side-navbar-title {
    padding-left: 2em;
}

.side-navbar-section {
    display: block;
    color: #ffffff;
    padding: 0.5em 1.5em;
    box-sizing: border-box;
    line-height: 1.5em;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.direction-rtl {
    direction: rtl;
}

.direction-ltr {
    direction: ltr;
}

.cursor-pointer {
    cursor: pointer;
}

.padding-top {
    padding-top: 1em;
}

.side-navbar-section-options {
    padding-left: 2.5em;
    padding-top: 0.5em;
}

.side-navbar-section-options:hover {
    color: #ff8c00;
}

.layer-selected {
    color: #ff8c00;

}

.color-scheme-btn img {
    width: 24px;
    border-radius: 6px;
}

.display-inline-block {
    display: inline-block;
}

.feedback-link {
    color: #ffffff;
    text-decoration: none;
}

.heatmap-radius {
    position: relative;
    z-index: 2000;
    width: 100%;
    height: 120px;
    padding: 1em 0 1em 1em;
    color: #ffffff;
    margin-top: 1.5em;
}

.height-default {
    height: 32px;
}

.line-height-default {
    line-height: 30px;
}

.line-height-title {
    line-height: 30px;
}

.height-title {
    height: 30px;
}

.icon-margin-top-adjust {
    margin-top: 2px;
}

.padding-left-half-em {
    padding-left: 0.5em;
}

.line-height-color-options {
    line-height: 30px;
    vertical-align: middle;
}

/* ------------------------------------ */

.wgl-intro-win .popup-value, .wgl-about-win .popup-value, .wgl-legend-win .popup-value, .wgl-warning-win .popup-value {
    white-space: pre-line;
}

.wgl-intro-win, .wgl-about-win, .wgl-legend-win {
    z-index: 1001;
    background-color: #ffffff;
    color: #000000;
    border-radius: 4px;
    width: 520px;
    font-size: 13px;
    margin: 10% auto;
}

.wgl-warning-win {
    z-index: 1001;
    background-color: #ffffff;
    color: #000000;
    border-radius: 4px;
    width: 520px;
    font-size: 13px;
    margin: 25% auto;
}

.wgl-about-win {
    width: 800px;
}

.wgl-legend-win {
    width: 440px;
}

.wgl-warning-win {
    width: 670px;
}

.wgl-intro-win.wgl-active, .wgl-about-win.wgl-active, .wgl-legend-win.wgl-active {
    visibility: visible;
}

.wgl-intro-close, .wgl-about-close, .wgl-legend-close, .wgl-warning-close {
    top: 5px;
    right: 5px;
    position: absolute;
    cursor: pointer;
    color: #b7bdbb;
    font-size: 18pt;
}

.wgl-intro-head, .wgl-about-head, .wgl-legend-head, .wgl-warning-head {
    position: relative;
    text-align: center;
    padding: 10px 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #122330;
    color: #ffffff;
}

.wgl-intro-context, .wgl-about-context, .wgl-legend-context, .wgl-warning-context {
    padding: 10px 20px 30px 20px;
}

.range-control {
    right: 0.4em;
    top: 1.8em;
    width: 67%;
    position: absolute;
}

.win-wrapper {
    line-height: 1.3em;
    position: relative;
    top: -15%;
}

/* ------------------------------------ */

.scroll-box {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.scroll-box::-webkit-scrollbar {
    width: .4em;
    background: #122330;
}

.scroll-box::-webkit-scrollbar,
.scroll-box::-webkit-scrollbar-thumb {
    overflow-y: visible;
    border-radius: 4px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background: #b7bdbb;
}

.cover-bar {
    position: absolute;
    background-color: #122330;
    height: 100%;
    top: 0;
    right: 0;
    width: .4em;
    -webkit-transition: all .5s;
    opacity: 1;
}

/* MAGIC HAPPENS HERE */

.scroll-bar-wrap:hover .cover-bar {
    opacity: 0;
    -webkit-transition: all .5s;
}


@media screen and (max-width: 1366px) {
    .side-navbar-wrapper {
        font-size: 9px;
    }

    .side-navbar-section-options {
        padding-top: 1em;
        height: 3.4em;
    }

    .range-control {
        width: 58%;
        right: 2.5em;
    }

    #intro-win, #legend-win, #about-win, #warning-win {
        font-size: 9px;
    }

    .height-default {
        height: 32px;
    }

    .line-height-default {
        line-height: 30px;
    }

    .line-height-title {
        line-height: 25px;
    }

    .height-title {
        height: 25px;
    }

    .wgl-intro-close {
        font-size: 13pt;
    }

    .win-wrapper {
        line-height: 0.9em;
        top: -10%;
    }
}