.wgl-point-selection-win {
    position: absolute;
    visibility: hidden;
    z-index: 1001;
    background-color: #ffffff;
    color: #000000;
    border-radius: 4px;
    white-space: nowrap;
}

.wgl-point-selection-win.wgl-active {
    visibility: visible;
}

#wgl-win-close {
    top: 5px;
    right: 5px;
    position: absolute;
    cursor: pointer;
    color: #b7bdbb;
}

#wgl-point-win-head {
    text-align: center;
    background-color: #dce2e0;
    padding: 10px 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#wgl-point-win-context {
    padding: 10px 20px;
}

#triangle {
    position: absolute;
    width: 35px;
    height: 35px;
    z-index: 1000;
    visibility: hidden;
}

#triangle.wgl-active {
    visibility: visible;
}